.custom-grid-container {
  display: grid;
  grid-template: 1fr 6fr / 1fr 4fr;
}

.header {
  grid-column: 2 / -1;
  grid-row: 1 / 2;
}
.main {
  grid-column: 2 / -1;
  grid-row: 2 / -1;
}
.dashboard {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
}
